.ui-view-IconView {
    display: inline-block;
    padding: 0;
    height: 1.5rem;
    transition: all 0.3s;
}

.ui-view-IconView.clickable {
    cursor: pointer;
}

.ui-view-IconView.clickable:active {
    filter: brightness(150%);
    transform: scale(0.9);
}

.ui-view-IconView > svg {
    height: 100%;
}
